html, body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #000000, #4a0000, #ad0303, #9f0000, #ad0303, #4a0000, #000000);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que o conteúdo seja alinhado ao topo */
  min-height: 100vh; /* Para cobrir pelo menos a altura inicial */
}