html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que o conteúdo seja alinhado ao topo */
  min-height: 100vh; /* Para cobrir pelo menos a altura inicial */
}